/* Tetris.css */

.game-grid {
  display: grid;
  grid-template-columns: repeat(10, 30px);
  
  background: #ccc;
}

.row {
  display: flex;
}

.cell {
  width: 30px;
  height: 30px;
  border: 1px solid rgb(255, 255, 255, 0.8);
  background: #0d0464;
}

.occupied {
  background-color: #000;
}

.tetris{
  background-color: #000;
  padding-top: 20px;
  padding-bottom: 20px;
  padding-left: 20px;
  padding-right: 20px;
  border-radius: 30px;
  box-shadow: 0px 0px 2px 10px rgb(255, 255, 255, 0.8);
}

h1{
  color: #ccc;
  display: flex;
  justify-content: center;
  font-size: 50px;
  padding: 0;
  margin-bottom: 10px;
  margin-top: -20px;
}

.up{
  background-color: #313131;
  padding: 30px;
  border-radius: 25px;
}
