/* Tetris.css */

.game-grid {
  display: grid;
  grid-template-columns: repeat(10, 30px);
  background: #ccc;
}

.row {
  display: flex;
}

.cell {
  width: 30px;
  height: 30px;
  border: 1px solid rgb(255, 255, 255, 0.8);
  background: #0d0464;
}

/* .occupied {
  background-color: #ff0000;
} */

.tetris{
  background-color: #000;
  padding-top: 20px;
  padding-bottom: 20px;
  padding-left: 20px;
  padding-right: 20px;
  border-radius: 30px;
  box-shadow: 0px 0px 2px 10px rgb(255, 255, 255, 0.8);
  margin: 30px;

}

.tetrisTwo{
  background-color: #000;
  padding-top: 20px;
  padding-left: 20px;
  padding-bottom: 20px;
  padding-right: 20px;
  border-radius: 30px;
  box-shadow: 0px 0px 2px 10px rgb(255, 255, 255, 0.8);
  margin: 30px;
  height: 100%;
  max-width: 240px;
}


.tetrisThree{
  background-color: #000;
  padding-top: 20px;
  padding-left: 20px;
  padding-bottom: 20px;
  padding-right: 20px;
  border-radius: 30px;
  box-shadow: 0px 0px 2px 10px rgb(255, 255, 255, 0.8);
  margin: 30px;
  height: 100%;
  max-width: 240px;
}

h1{
  color: #ccc;
  display: flex;
  justify-content: center;
  font-size: 50px;
  padding: 0;
  margin-bottom: 10px;
  margin-top: -20px;
}

h2{
  color: #ccc;
  display: flex;
  justify-content: center;
  font-size: 35px;
  padding-top: 30px;
  margin-bottom: 10px;
  margin-top: -20px;
  padding-left: 10px;
  padding-right: 10px;
}

.up{
  background-color: #313131;
  padding: 30px;
  border-radius: 25px;
}

.uppt2{
  background-color: #313131;
  padding: 0;
  border-radius: 25px;
  max-height: 100%;
  overflow: hidden;
}


.game-over-overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: white;
  font-size: 24px;
  z-index: 10;
}

.game-over{
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 100px;
  color: #ccc;
  text-shadow: 0 0 20px #FF0000, 0 0 30px #0000FF;
  padding: 20px;
  margin-bottom: 100px;
}

.play{
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 50px;
  color: #000;
  padding: 20px;
  border-radius: 25px;
  background-color: #00ff00;
  box-shadow: 0px 0px 2px 10px rgb(255, 255, 255, 0.8);
  font-family: "Press Start 2P", system-ui;

}

.play:hover{
  background-color: #00cc00;
}


.whole{
  display: flex;
  justify-content: space-evenly;
  align-items: top;
}

.next-tetrominos {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.next-tetromino {
  display: flex;
  justify-content: center;
}

.leftline{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.score{
  display: flex;
  justify-content: center;
  color: #ccc;
  font-size: 28px;
  padding: 10px;
}