/* App.css */
body{
  font-family: "Press Start 2P", system-ui;
  font-weight: 400;
  font-style: normal;  
}

.App{
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background: radial-gradient(circle at center, #7163f5, #010158);
}